body {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: flex-start; /* Alinea los elementos al inicio (arriba) */
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    margin: 0; /* Elimina márgenes por defecto */
    padding-top: 20px; /* Añade un poco de espacio en la parte superior */
    font-family: sans-serif; /* Define una fuente legible */
    background-color: #141b27;
}

/* El .image-container no necesita estilos específicos si el body
   ya se encarga de centrar sus hijos directos y no se requiere
   un ancho o márgenes particulares para este contenedor. */

.image-container img {
    display: block; /* Hace que la imagen sea un bloque */
    max-width: 80%; /* Asegura que la imagen no exceda el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: auto; /* Centra la imagen si es un bloque */
    margin-right: auto; /* Centra la imagen si es un bloque */
}

.welcome-text {
    text-align: center; /* Centra el texto dentro de este div */
    margin-top: 20px; /* Añade un espacio entre la imagen y el texto */
    color: white;
}

.welcome-text h1 {
    margin-bottom: 10px; /* Espacio debajo del h1 */
    color: white;
}